@import "tailwindcss";

@theme inline {
  --font-general: var(--font-general);
}

body {
  @apply font-general;
}

.focus-style {
  @apply transition-transform duration-200 ease-in-out outline-none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
